[Unit]
Description=Desktop Thingie
After=network.service
Requires=network.service

[Service]
Type=simple
ExecStart=/home/crackers/projects/murphy-control/venv/bin/python /home/crackers/projects/murphy-control/main.py
Restart=on-failure

[Install]
WantedBy=default.target
