Adafruit-Blinka==8.45.2
adafruit-blinka-displayio==2.0.3
adafruit-circuitpython-apds9960==3.1.11
adafruit-circuitpython-bitmap_font==2.1.2
adafruit-circuitpython-bme680==3.7.6
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-display-text==3.1.2
adafruit-circuitpython-display_shapes==2.8.3
adafruit-circuitpython-displayio-layout==2.1.0
adafruit-circuitpython-displayio-ssd1306==2.0.2
adafruit-circuitpython-imageload==1.20.2
adafruit-circuitpython-logging==5.4.0
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==4.1.4
adafruit-circuitpython-seesaw==1.16.3
adafruit-circuitpython-ticks==1.0.13
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.71.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
circuitpython-displayio-switchround==0.1.0
numpy==2.0.0
pyftdi==0.55.4
pymatrix-rain==1.3.0
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sysv-ipc==1.1.0
typing_extensions==4.12.2
urllib3==2.2.2
